silverlight/Service References/TaskrServices.Core/TaskrCoreService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Apprenda.Taskr.Service" elementFormDefault="qualified" targetNamespace="urn:Apprenda.Taskr.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63277/TaskrCoreService.svc?xsd=xsd2" namespace="Apprenda.Taskr" />
  <xs:import schemaLocation="http://localhost:63277/TaskrCoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SaveTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="Apprenda.Taskr" minOccurs="0" name="task" nillable="true" type="q1:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveTaskResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="Apprenda.Taskr" minOccurs="0" name="GetTaskResult" nillable="true" type="q5:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="Apprenda.Taskr" minOccurs="0" name="ListTasksResult" nillable="true" type="q6:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>