silverlight/Service References/TaskrServices.Core/TaskrCoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="urn:Apprenda.Taskr.Service" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:Apprenda.Taskr.Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Apprenda.Taskr.Service/Imports">
      <xsd:import schemaLocation="http://localhost:63277/TaskrCoreService.svc?xsd=xsd0" namespace="urn:Apprenda.Taskr.Service" />
      <xsd:import schemaLocation="http://localhost:63277/TaskrCoreService.svc?xsd=xsd4" namespace="urn:Apprenda.SaaSGrid" />
      <xsd:import schemaLocation="http://localhost:63277/TaskrCoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63277/TaskrCoreService.svc?xsd=xsd2" namespace="Apprenda.Taskr" />
      <xsd:import schemaLocation="http://localhost:63277/TaskrCoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Apprenda.Taskr.Service" />
      <xsd:import schemaLocation="http://localhost:63277/TaskrCoreService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Apprenda.SaaSGrid.Subscription" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TaskrCore_SaveTask_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTask" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_SaveTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTaskResponse" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_SaveTask_LimiterExhaustedDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="urn:Apprenda.SaaSGrid" name="detail" element="q1:LimiterExhaustedDetail" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_DeleteTask_NotAuthorizedDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="urn:Apprenda.SaaSGrid" name="detail" element="q2:NotAuthorizedDetail" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_DeleteTask_LimiterExhaustedDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="urn:Apprenda.SaaSGrid" name="detail" element="q3:LimiterExhaustedDetail" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_ListTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:ListTasks" />
  </wsdl:message>
  <wsdl:message name="TaskrCore_ListTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListTasksResponse" />
  </wsdl:message>
  <wsdl:portType name="TaskrCore">
    <wsdl:operation name="SaveTask">
      <wsdl:input wsaw:Action="urn:Apprenda.Taskr.Service.SaveTask" message="tns:TaskrCore_SaveTask_InputMessage" />
      <wsdl:output wsaw:Action="urn:Apprenda.Taskr.Service.SaveTaskReply" message="tns:TaskrCore_SaveTask_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:Apprenda.SaaSGrid.Fault" name="LimiterExhaustedDetailFault" message="tns:TaskrCore_SaveTask_LimiterExhaustedDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="urn:Apprenda.Taskr.Service.DeleteTask" message="tns:TaskrCore_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="urn:Apprenda.Taskr.Service.DeleteTaskReply" message="tns:TaskrCore_DeleteTask_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:Apprenda.SaaSGrid.Fault" name="NotAuthorizedDetailFault" message="tns:TaskrCore_DeleteTask_NotAuthorizedDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="urn:Apprenda.SaaSGrid.Fault" name="LimiterExhaustedDetailFault" message="tns:TaskrCore_DeleteTask_LimiterExhaustedDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="urn:Apprenda.Taskr.Service.GetTask" message="tns:TaskrCore_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="urn:Apprenda.Taskr.Service.GetTaskReply" message="tns:TaskrCore_GetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListTasks">
      <wsdl:input wsaw:Action="urn:Apprenda.Taskr.Service.ListTasks" message="tns:TaskrCore_ListTasks_InputMessage" />
      <wsdl:output wsaw:Action="urn:Apprenda.Taskr.Service.ListTasksReply" message="tns:TaskrCore_ListTasks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>